<% if comment.errors.any? %>
<div>
  <div id="error_explanation">
    <h2>
    <%= comment.errors.count %>件のエラーが発生しました
    </h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
      </ul>
  </div>
<% end %>
  <div class="new-comment">
  <%= form_with(model:[book, comment], remote: true) do |f| %>
    <%= f.text_area :comment,placeholder: "コメントをここに" ,size: "60x5" %>
    <%= f.submit "送信📖" %>
  <% end %>
  </div>
</div>
